Repository MobilityData/gtfs-validator, pull requests merged in 2020-09, with the labels that each got.

#354 Implement #353 - Avoid building Route entities with both name fields blank/null
  RULES.md
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/routes/Route.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/RouteTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShortAndLongNameForRoutePresence.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShortAndLongNameForRoutePresenceTest.java
Labels: routes.txt

#346 Implement #132 - Verify no overlapping trips in block
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  adapter/utils/src/main/java/org/mobilitydata/gtfsvalidator/timeutils/TimeUtilsImpl.java
  adapter/utils/src/test/java/org/mobilitydata/gtfsvalidator/timeutils/TimeUtilsImplTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Calendar.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/CalendarDate.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/trips/Trip.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/BlockTripsWithOverlappingStopTimesNotice.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/CalendarTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/CalendarDateTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/trips/TripTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateBackwardsTimeTravelForStops.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFrequencyStartTimeBeforeEndTime.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateNoOverlappingStopTimeInTripBlock.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTimeDepartureTimeAfterArrivalTime.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripFrequenciesOverlap.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/utils/TimeUtils.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateBackwardsTimeTravelForStopsTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFrequencyStartTimeBeforeEndTimeTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateNoOverlappingStopTimeInTripBlockTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTimeDepartureTimeAfterArrivalTimeTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripFrequenciesOverlapTest.java
Labels: calendar.txt, calendar_dates.txt, stop_times.txt, trips.txt

#352 Implement #131 - Check agency.agency_lang and feed_info.feed_lang match
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/FeedInfoLangAgencyLangMismatchNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgencyLangAndFeedInfoFeedLangMatch.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgencyLangAndFeedInfoFeedLangMatchTest.java
Labels: agency.txt, feed_info.txt, python validator

#351 Implement #149 - Verify route long name and route short name unicity
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/WarningNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/warning/DuplicateRouteLongNameNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/warning/DuplicateRouteLongNameRouteShortNameCombinationNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/warning/DuplicateRouteShortNameNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteLongNameAreUnique.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteShortNameAreUnique.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateUniqueRouteLongNameRouteShortNameCombination.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteLongNameAreUniqueTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteShortNameAreUniqueTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateUniqueRouteLongNameRouteShortNameCombinationTest.java
Labels: python validator, routes.txt

#350 Implement #212 - Increasing distance stop times verification
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/WarningNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/DecreasingStopTimeDistanceNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTimeIncreasingDistance.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/StopTimeValidator.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTimeIncreasingDistanceTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/StopTimeValidatorTest.java
Labels: python validator, stop_times.txt

#363 Implement #358 - Verify increasing shape_dist_traveled along a shape
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/NoticeMemoryConsumptionTest.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/DecreasingShapeDistanceNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShapeIncreasingDistance.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/ShapeBasedCrossValidator.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShapeIncreasingDistanceTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/ShapeBasedCrossValidatorTest.java
Labels: python validator, shapes.txt

#340 Implement #155 - Check for stops too far from trip shape
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/NoticeMemoryConsumptionTest.java
  adapter/utils/build.gradle
  adapter/utils/src/main/java/org/mobilitydata/gtfsvalidator/geoutils/GeospatialUtilsImpl.java
  adapter/utils/src/test/java/org/mobilitydata/gtfsvalidator/geoutils/GeospatialUtilsImplTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/StopTooFarFromTripShapeNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTooFarFromTripShape.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/utils/GeospatialUtils.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTooFarFromTripShapeNoticeTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/ShapeBasedCrossValidatorTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/StopTimeValidatorTest.java
Labels: shapes.txt, stop_times.txt, stops.txt

#387 Fix #378 - NPE thrown for Santa Barbara County GTFS URL
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/routes/Route.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/RouteTest.java
Labels: bug

#389 Implement #388 - Rework logging format
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateCsvNotEmptyForFile.java
Labels: enhancement
