Repository MobilityData/gtfs-validator, pull requests merged in 2020-06, with the labels that each got.

#225 Implement #222 - Update Usecase tests with specific Notices verification
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ParseSingleRowForFileTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedAgencyTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedRouteTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAllOptionalFilenameTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAllRequiredFilePresenceTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAllRowLengthForFileTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateHeadersForFileTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteColorAndTextContrastTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteDescriptionAndNameAreDifferentTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteLongNameDoesNotContainOrEqualShortNameTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteShortNameLengthTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteTypeIsInTypeOptionsTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShortAndLongNameForRoutePresenceTest.java
Labels: enhancement

#84 CalendarDate class -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/CalendarDate.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/ExceptionType.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/CalendarDateTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/ExceptionTypeTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendarDate.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendarDateTest.java
Labels: gtfs internal representation

#74 Level entities -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Level.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/LevelTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedLevel.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedLevelTest.java
Labels: gtfs internal representation

#254 Implement #252 -- Improve information logging
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryExecParamRepository.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/DownloadArchiveFromNetwork.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ExportResultAsFile.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/GenerateExclusionFilenameList.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/GenerateFilenameListToProcess.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/LogExecutionInfo.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/PrintHelp.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/UnzipInputArchive.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteColorAndTextContrast.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteDescriptionAndNameAreDifferent.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteLongNameDoesNotContainOrEqualShortName.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteShortNameLength.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteTypeIsInTypeOptions.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShortAndLongNameForRoutePresence.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ExportResultAsFileTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/GenerateExclusionFilenameListTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/GenerateFilenameListToProcessTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteColorAndTextContrastTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteDescriptionAndNameAreDifferentTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteLongNameDoesNotContainOrEqualShortNameTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteShortNameLengthTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteTypeIsInTypeOptionsTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShortAndLongNameForRoutePresenceTest.java
Labels: enhancement

#82 Calendar class -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Calendar.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/CalendarTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendar.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendarTest.java
Labels: gtfs internal representation

#59 Trip entities -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/trips/DirectionId.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/trips/Trip.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/trips/DirectionIdTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/trips/TripTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTrip.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTripTest.java
Labels: gtfs internal representation

#71 Transfer entities -- internal representation
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/transfers/Transfer.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/transfers/TransferType.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/transfers/TransferTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/transfers/TransferTypeTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTransfer.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTransferTest.java
Labels: gtfs internal representation, transfers.txt

#81 FeedInfo class -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/FeedInfo.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/FeedInfoTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFeedInfo.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFeedInfoTest.java
Labels: gtfs internal representation

#120 FareAttribute class -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/FareAttribute.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/PaymentMethod.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/Transfers.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/FareAttributeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/PaymentMethodTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/TransfersTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFareAttribute.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFareAttributeTest.java
Labels: gtfs internal representation

#280 Fix #279 - Avoid occasional NPE when processing FareAttribute entitites.
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/FareAttribute.java
Labels: bug

#278 Implement #255 -- Rework command line options nomenclature
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryExecParamRepository.java
  config/src/main/resources/default-execution-parameters.json
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/DownloadArchiveFromNetwork.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/LogExecutionInfo.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/UnzipInputArchive.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/ExecParamRepository.java
Labels: enhancement

#72 Fare rule entities -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/FareRule.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/FareRuleTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFareRule.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFareRuleTest.java
Labels: gtfs internal representation

#284 Fix #276 -- Use LocalDate instead of LocalDateTime
  adapter/parser/src/main/java/org/mobilitydata/gtfsvalidator/parser/GtfsEntityParser.java
  adapter/parser/src/test/java/org/mobilitydata/gtfsvalidator/parser/GtfsEntityParserTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Calendar.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/FeedInfo.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/CalendarDate.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/CalendarTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/FeedInfoTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/CalendarDateTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendar.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendarDate.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFeedInfo.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendarDateTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendarTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFeedInfoTest.java
Labels: enhancement

#281 Fix #275 -- Handle absence of execution-parameters.json
  adapter/parser/src/main/java/org/mobilitydata/gtfsvalidator/parser/JsonExecParamParser.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryExecParamRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryExecParamRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/PrintHelp.java
Labels: bug

#277 Update documentation
  README.md
Labels: documentation, enhancement

#272 Fix #251 - New rule - `calendar.txt` `end_date` is before `start_date`
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/CalendarEndDateBeforeStartDateNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateCalendarEndDateBeforeStartDate.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateCalendarEndDateBeforeStartDateNoticeTest.java
Labels: calendar.txt, new rule

#251 Add documentation on how to add a rule
  ADDING_NEW_RULES.md
Labels: documentation

#73 Pathways entities -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryExecParamRepository.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/IsBidirectional.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/Pathway.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/PathwayMode.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/IsBidirectionalTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/PathwayModeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/PathwayTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedPathway.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/ExecParamRepository.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedPathwayTest.java
Labels: gtfs internal representation

#75 Attribution entities -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Attribution.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/AttributionTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedAttribution.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedAttributionTest.java
Labels: gtfs internal representation

#293 Implement #290 - Improve GTFS entity builders
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Agency.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Attribution.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Calendar.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/FareRule.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/FeedInfo.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Level.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/CalendarDate.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/FareAttribute.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/Pathway.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/routes/Route.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/transfers/Transfer.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/trips/Trip.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/AttributionTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedAgency.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedAttribution.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendar.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendarDate.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFareAttribute.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFareRule.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFeedInfo.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedLevel.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedPathway.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedRoute.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTransfer.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTrip.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedAgencyTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedAttributionTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendarDateTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedCalendarTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFareAttributeTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFareRuleTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFeedInfoTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedLevelTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedPathwayTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedRouteTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTransferTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTripTest.java
Labels: agency.txt, attributions.txt, calendar.txt, calendar_dates.txt, fare_attributes.txt, feed_info.txt, gtfs internal representation, pathways.txt, routes.txt, shapes.txt, stop_times.txt, stops.txt, transfers.txt, translations.txt, trips.txt

#269 Use cases classes -- Agency related use cases
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Agency.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/InconsistentAgencyTimezoneNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/InvalidAgencyIdNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/MissingAgencyIdNotice.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/AgencyTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgenciesHaveSameAgencyTimezone.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgencyIdRequirement.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgenciesHaveSameAgencyTimezoneTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgencyIdRequirementTest.java
Labels: agency.txt, new rule

#70 Shape entities -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/ShapePoint.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/ShapePointTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedShapePoint.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedShapePointTest.java
Labels: gtfs internal representation, shapes.txt

#88 StopTime entity -- internal representation
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/ContinuousDropOff.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/ContinuousPickup.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/DropOffType.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/PickupType.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/StopTime.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/Timepoint.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/DuplicatedEntityNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/FloatFieldValueOutOfRangeNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/IllegalFieldValueCombination.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/MissingRequiredValueNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/UnexpectedEnumValueNotice.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/ContinuousDropOffTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/ContinuousPickupTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/DropOffTypeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/PickupTypeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/StopTimeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/TimepointTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopTime.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopTimeTest.java
Labels: gtfs internal representation, stop_times.txt
