Repository MobilityData/gtfs-validator, pull requests merged in 2020-08, with the labels that each got.

#328 Implements #198 - Stop times Departure Time after Arrival Time verification
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/StopTimeArrivalTimeAfterDepartureTimeNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTimeDepartureTimeAfterArrivalTime.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTimeDepartureTimeAfterArrivalTimeTest.java
Labels: new rule, python validator, stop_times.txt

#337 Fix #336 - Move `stop` package within .gtfs package
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/BoardingArea.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/Entrance.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/GenericNode.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/LocationBase.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/Station.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/StopOrPlatform.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/WheelchairBoarding.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/BoardingAreaTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/EntranceTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/GenericNodeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/StationTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/StopOrPlatformTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/WheelchairBoardingTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopAll.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopAllTest.java
Labels: bug

#335 Implement #206 - Verify frequencies.start_time is before frequencies.end_time
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/FrequencyStartTimeAfterEndTimeNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFrequencyStartTimeBeforeEndTime.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFrequencyStartTimeBeforeEndTimeTest.java
Labels: frequencies.txt, python validator

#338 Implement #204 - Verify no backwards time travel in stop_times.txt
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/BackwardsTimeTravelInStopNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateBackwardsTimeTravelForStops.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/crossvalidation/StopTimeBasedCrossValidator.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/ShapeBasedCrossValidator.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/StopTimeValidator.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateBackwardsTimeTravelForStopsTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/ShapeBasedCrossValidatorTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/usecasevalidator/StopTimeValidatorTest.java
Labels: stop_times.txt

#344 Implement #162 - Verify trip usability and usage
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/TripNotUsedNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/UnusableTripNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripNumberOfStops.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripUsage.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripNumberOfStopsTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripUsageTest.java
Labels: stop_times.txt, trips.txt

#355 Implement #341 -- Enforce presence of at least 1 out of 2 files `calendar.txt` and `calendar_dates.txt`
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/MissingCalendarAndCalendarDateFilesNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAllRequiredFilePresence.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAllRequiredFilePresenceTest.java
Labels: bug

#348 Fix #347 - Time conversion of AM times
  adapter/utils/src/main/java/org/mobilitydata/gtfsvalidator/timeutils/TimeUtilsImpl.java
  adapter/utils/src/test/java/org/mobilitydata/gtfsvalidator/timeutils/TimeUtilsImplTest.java
Labels: bug

#349 Implement#146 - Verify trip frequencies do not overlap
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  adapter/utils/src/main/java/org/mobilitydata/gtfsvalidator/timeutils/TimeUtilsImpl.java
  adapter/utils/src/test/java/org/mobilitydata/gtfsvalidator/timeutils/TimeUtilsImplTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/OverlappingTripFrequenciesNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripFrequenciesOverlap.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/utils/TimeUtils.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripFrequenciesOverlapTest.java
Labels: frequencies.txt
