Repository MobilityData/gtfs-validator, pull requests merged in 2020-10, with the labels that each got.

#423 Fix #399 - Handle NPE
  .github/workflows/endtoend.yml
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/routes/Route.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/routes/RouteType.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/RouteTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/RouteTypeTest.java
Labels: bug, routes.txt

#433 Fix 398 - Implement solution to handle URL redirections
  .github/workflows/endtoend.yml
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/DownloadArchiveFromNetwork.java
Labels: bug

#438 Implement #435 - Rename validation report
  README.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryValidationResultRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryValidationResultRepositoryTest.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ExportResultAsFile.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/ValidationResultRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ExportResultAsFileTest.java
Labels: enhancement

#439 Implement #432 - remove redundant null check from enums isEnumValueValid methods
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/ExceptionType.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/PaymentMethod.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/IsBidirectional.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/PathwayMode.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/ContinuousDropOff.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/ContinuousPickup.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/DropOffType.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/PickupType.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/Timepoint.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/transfers/TransferType.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/translations/TableName.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/trips/DirectionId.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/calendardates/ExceptionTypeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/PaymentMethodTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/IsBidirectionalTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/pathways/PathwayModeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/transfers/TransferTypeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/translations/TableNameTest.java
Labels: enhancement

#395 Fix #384 - provide Docker image
  .circleci/config.yml
  .github/workflows/docker.yml
  .github/workflows/end_to_end.yml
  .github/workflows/test_pack_doc.yml
  .gitignore
  Dockerfile
  META-INF/MANIFEST.MF
  README.md
  RELEASE.md
  application/cli-app/scripts/end_to_end.sh
Labels: docker

#443 Implement #441 - Implement info notice
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryValidationResultRepository.java
  adapter/utils/build.gradle
  adapter/utils/src/main/java/org/mobilitydata/gtfsvalidator/fileutils/CustomFileUtilsImpl.java
  adapter/utils/src/test/java/org/mobilitydata/gtfsvalidator/fileutils/CustomFileUtilsImplTest.java
  adapter/utils/src/test/resources/testDirectory/test_file.txt
  adapter/utils/src/test/resources/testDirectory/test_file2.txt
  adapter/utils/src/test/resources/testDirectory/test_file3.txt
  adapter/utils/src/test/resources/test_file.zip
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/cli/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/info/ValidationProcessInfoNotice.java
  usecase/build.gradle
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/CreatePath.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ExportResultAsFile.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/GenerateInfoNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/ValidationResultRepository.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/utils/CustomFileUtils.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/GenerateInfoNoticeTest.java
Labels: enhancement

#452 Implement #451 - Display validation report in Docker web ui
  application/web-app/react-client/package.json
  application/web-app/react-client/src/App.css
  application/web-app/react-client/src/App.js
  application/web-app/react-client/src/components/JsonExampleAccordion.js
  application/web-app/react-client/src/components/ValidationReportViewer.js
  application/web-app/react-client/src/components/tests/JsonExampleAccordion.test.js
  application/web-app/react-client/src/components/tests/__snapshots__/JsonExampleAccordion.test.js.snap
  application/web-app/react-client/src/helper/ApiRequestExecutor.js
  application/web-app/react-client/src/helper/Constants.js
  application/web-app/react-client/src/helper/tests/ApiRequest.test.js
  application/web-app/spring-server/src/main/java/org/mobilitydata/gtfsvalidator/web/GtfsValidatorController.java
  application/web-app/spring-server/src/main/java/org/mobilitydata/gtfsvalidator/web/ServiceManager.java
  application/web-app/spring-server/src/test/java/org/mobilitydata/gtfsvalidator/web/GtfsValidatorControllerTest.java
Labels: enhancement, local web ui

#456 Implement #408 - Build and collect js test coverage reports
  .circleci/config.yml
  .github/workflows/test_pack_doc.yml
  application/web-app/react-client/jest.config.js
Labels: enhancement, local web ui

#459 Implement #400 - Allow `transfer` to be blank in fare_attributes
  .github/workflows/docker.yml
  .github/workflows/end_to_end.yml
  adapter/repository/in-memory-simple/src/main/resources/gtfs_spec.asciipb
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/fareattributes/FareAttribute.java
Labels: bug

#461 Issues and Pull Request templates rework
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/community.md
  .github/ISSUE_TEMPLATE/docker.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/github_action.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: GitHub Action, community, docker
