Repository MobilityData/gtfs-validator, pull requests merged in 2020-07, with the labels that each got.

#90 Translations entity -- internal representation
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Attribution.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/StopTime.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/translations/TableName.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/translations/Translation.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/DuplicatedEntityNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/IllegalFieldValueCombination.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/IllegalFieldValueCombinationNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/MissingRequiredValueNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/UnexpectedEnumValueNotice.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/AttributionTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stoptimes/StopTimeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/translations/TableNameTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/translations/TranslationTest.java
  domain/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopTime.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTranslation.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopTimeTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedTranslationTest.java
Labels: gtfs internal representation, translations.txt

#295 Implement time conversion utility class
  adapter/utils/build.gradle
  adapter/utils/src/main/java/org/mobilitydata/gtfsvalidator/timeutils/TimeConversionUtils.java
  adapter/utils/src/test/java/org/mobilitydata/gtfsvalidator/timeutils/TimeConversionUtilsTest.java
  settings.gradle
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/utils/TimeUtils.java
Labels: utils

#304 Implement #303 - Execute usecase ProcessParsedStopTime
  adapter/utils/src/main/java/org/mobilitydata/gtfsvalidator/timeutils/TimeConversionUtils.java
  adapter/utils/src/test/java/org/mobilitydata/gtfsvalidator/timeutils/TimeConversionUtilsTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/build.gradle
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopTime.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopTimeTest.java
Labels: stop_times.txt, utils

#298 Implement #209 -- Validate route id reference in trips
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/RouteIdNotFoundNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripRouteId.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripRouteIdTest.java
Labels: new rule, trips.txt

#300 Implement #179 - Implement cross validation between GTFS files agency.txt and routes.txt
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Agency.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/routes/Route.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/AgencyIdNotFoundNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/InvalidAgencyIdNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/MissingAgencyIdNotice.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/AgencyTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/RouteTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgencyIdRequirement.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteAgencyId.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteAgencyIdTest.java
Labels: agency.txt, new rule, routes.txt

#294 Fix #288 - Color contrast validation bug
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/parser/src/main/java/org/mobilitydata/gtfsvalidator/parser/GtfsEntityParser.java
  adapter/parser/src/test/java/org/mobilitydata/gtfsvalidator/parser/GtfsEntityParserTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsSpecRepository.java
  adapter/validator/src/main/java/org/mobilitydata/gtfsvalidator/validator/GtfsTypeValidator.java
  adapter/validator/src/test/java/org/mobilitydata/gtfsvalidator/validator/GtfsTypeValidatorTest.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/CannotParseColorNotice.java
  usecase/build.gradle
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteColorAndTextContrast.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteColorAndTextContrastTest.java
Labels: bug

#83 Frequency class -- internal representation
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/frequencies/ExactTimes.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/frequencies/Frequency.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/IntegerFieldValueOutOfRangeNotice.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/frequencies/ExactTimesTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/frequencies/FrequencyTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFrequency.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedFrequencyTest.java
Labels: frequencies.txt, gtfs internal representation

#312 Implement #313 - Rework gtfs entity retrieval methods
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/Agency.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedAgency.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgenciesHaveSameAgencyTimezone.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgencyIdRequirement.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateCalendarEndDateBeforeStartDate.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteAgencyId.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteColorAndTextContrast.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteDescriptionAndNameAreDifferent.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteLongNameDoesNotContainOrEqualShortName.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteShortNameLength.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteTypeIsInTypeOptions.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShortAndLongNameForRoutePresence.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripRouteId.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedAgencyTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgenciesHaveSameAgencyTimezoneTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateAgencyIdRequirementTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateCalendarEndDateBeforeStartDateNoticeTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteAgencyIdTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteColorAndTextContrastTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteDescriptionAndNameAreDifferentTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteLongNameDoesNotContainOrEqualShortNameTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteShortNameLengthTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateRouteTypeIsInTypeOptionsTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShortAndLongNameForRoutePresenceTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripRouteIdTest.java
Labels: agency.txt, calendar.txt, enhancement, routes.txt, trips.txt

#301 Implement #164 - Check shape_id references
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/ShapeIdNotFoundNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/ShapeNotUsedNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/TripIdNotFoundNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShapeIdReferenceInStopTime.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShapeUsage.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTimeTripId.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/crossvalidation/ShapeBasedCrossValidator.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/crossvalidation/StopTimeBasedCrossValidator.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShapeIdReferenceInStopTimeTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateShapeUsageTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateStopTimeTripIdTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateTripRouteIdTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/crossvalidation/ShapeBasedCrossValidatorTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/crossvalidation/StopTimeBasedCrossValidatorTest.java
Labels: shapes.txt, stop_times.txt, trips.txt

#270 Use case classes - feed_info.txt related use cases
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporterTest.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  adapter/repository/in-memory-simple/src/test/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepositoryTest.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/FeedInfo.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/WarningNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/FeedInfoExpiresInLessThan7DaysNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/FeedInfoStartDateAfterEndDateNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/warning/FeedInfoExpiresInLessThan30DaysNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/warning/MissingFeedEndDateNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/warning/MissingFeedStartDateNotice.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedCoversTheNext30ServiceDays.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedCoversTheNext7ServiceDays.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedInfoEndDateAfterStartDate.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedInfoFeedEndDateIsPresent.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedInfoFeedStartDateIsPresent.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/main/resources/mockito-extensions/org.mockito.plugins.MockMaker
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedCoversTheNext30ServiceDaysTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedCoversTheNext7ServiceDaysTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedInfoEndDateAfterStartDateTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedInfoFeedEndDateIsPresentTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ValidateFeedInfoFeedStartDateIsPresentTest.java
Labels: feed_info.txt, new rule, python validator

#44 Stop class -- internal representation
  RULES.md
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/JsonNoticeExporter.java
  adapter/exporter/src/main/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporter.java
  adapter/exporter/src/test/java/org/mobilitydata/gtfsvalidator/exporter/ProtobufNoticeExporterTest.java
  adapter/repository/in-memory-simple/src/main/java/org/mobilitydata/gtfsvalidator/db/InMemoryGtfsDataRepository.java
  application/cli-app/src/main/java/org/mobilitydata/gtfsvalidator/Main.java
  config/src/main/java/org/mobilitydata/gtfsvalidator/config/DefaultConfig.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/NoticeExporter.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/ErrorNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/base/Notice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/ParentStationInvalidLocationTypeNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/notice/error/StationWithParentStationNotice.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/stops/BoardingArea.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/stops/Entrance.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/stops/GenericNode.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/stops/LocationBase.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/stops/Station.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/stops/StopOrPlatform.java
  domain/src/main/java/org/mobilitydata/gtfsvalidator/domain/entity/stops/WheelchairBoarding.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/BoardingAreaTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/EntranceTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/GenericNodeTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/StationTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/StopOrPlatformTest.java
  domain/src/test/java/org/mobilitydata/gtfsvalidator/domain/entity/gtfs/stops/WheelchairBoardingTest.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/PreprocessParsedStop.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopAll.java
  usecase/src/main/java/org/mobilitydata/gtfsvalidator/usecase/port/GtfsDataRepository.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/PreprocessParsedStopTest.java
  usecase/src/test/java/org/mobilitydata/gtfsvalidator/usecase/ProcessParsedStopAllTest.java
Labels: gtfs internal representation, stops.txt
